nav
  ul(class="w3-navbar w3-black")
    li: a(href='http://www.kodemechanic.com:8080/') Home    
    li: a(onclick="document.getElementById('id02').style.display='block'") Signup
    li: a(onclick="document.getElementById('id01').style.display='block'") Login
    li: a(href='javascript:void(0)') Logout