div(class='modal', id='id01')  
  form(class='modal-content animate', id='logform', method='post', style='max-width:600px;', ng-submit="login()")
    div(class='imgcontainer')
      span(onclick='document.getElementById("id01").style.display="none"', class='close', title='Close Modal') &times;
      img(src='http://kodemechanic.com/content/images/2017/01/avatar2.png', alt='Avatar', class='avatar', style='max-width:150px')

    div(class='container', id='messages', ng-show='message') {{ LoginMessage }}

    div(class='container')      
      div(id="name-group" class="form-group" ng-class="{ 'has-error' : errorLoginUsername }")
        label:b Username
        span(class='help-block', style='float:right; color:red;', ng-show='errorLoginUsername') {{ errorLoginUsername }}
        input(type='text', placeholder='Enter UserName', name='username', id='username', ng-model='loginFormData.username', required)

      div(id="name-group" class="form-group" ng-class="{ 'has-error' : errorLoginPassword }")
        label:b Password
        input(type='password', placeholder='Enter Password', name='password', id='password',  ng-model='loginFormData.password', required)        
        span(class='help-block', style='float:right; color:red;', ng-show='errorLoginPassword') {{ errorLoginPassword }}

      button(type='submit') Login

      span(class='psw')
        a(href='#') Forgot password

      span New to KodeAPI? 
        a(href='#') Signup Here      
