section(class='w3-center w3-gray', style='max-width:100%')
  img(class='mySlides', src='http://www.kodemechanic.com/content/images/2017/01/restful_api.jpg', style='width:60%')

section(class='w3-container w3-content w3-center', style='max-width:600px')
  h2(class='w3-wide') KodeAPI
  p(class='w3-opacity')
    i Generic REST API for Rapid Development

section(class='w3-container w3-content w3-center', style='max-width:600px')
  p(class='w3-justify') Kode API combines a NodeJS REST API ontop of a MongoDB database to provide a single REST based API that can be used to store and retrieve data or objects quickly without requiring any server or databse code.  Developers simply need to setup an account and use a REST call to insert, read, update or delete application data.  Check out the getting started page for more information.
