nav
  ul(class="w3-navbar w3-black")
    li: a(href='javascript:void(0)') Home
    li: a(href='javascript:void(0)') Get Started
    li: a(href='javascript:void(0)') Info
    li: a(href='javascript:void(0)') Login
